/* from 993 to 1200 px */
@media only screen and (max-width: 1200px) {
  #home {
    overflow-x: hidden;
  }
  .arrow-down {
    left: 45%;
  }
  #about {
    height: 110%;
  }
  #contact {
    height: 90%;
  }
}
/* from 769 to 992 px */
@media only screen and (max-width: 992px) {
  .item img {
    margin-top: 60px;
  }
  .btn {
    padding: 5px;
  }
  .text {
    font-size: 12px;
  }
  #about {
    height: 155%;
  }
  .bio {
    margin-top: 10px;
  }
  .service {
    margin-top: 10px;
  }
  .service h4 {
    font-size: 20px;
  }
  .services p {
    font-size: 14px;
    margin-left: 7%;
  }
  #contact {
    height: 120%;
  }
  .left-contact {
    width: 70%;
    left: 15%;
  }
}
/*from 600 to 767 px */
@media only screen and (max-width: 768px) {
  #nav-ul {
    background-color: #fff;
    border-radius: 10px;
    display: none;
    width: 50%;
    flex-direction: column;
  }
  #hamburger {
    display: inline-block;
  }
  #nav-ul.show {
    display: flex;
  }
  .hero-text h1 {
    margin-top: 30%;
    margin-left: 20px;
  }
  .hero-text p {
    margin-left: 20px;
  }
  .arrow-down {
    left: 40%;
  }
  #projects {
    height: 120%;
  }
  .item {
    padding: 5px;
  }
  .item img {
    margin-top: 50px;
  }
  #about {
    height: 155%;
  }
  .about-me .image {
    height: 200px;
  }
  .services {
    margin-top: 0;
    margin-left: 30px;
  }
  .service h4 {
    font-size: 18px;
  }
  .services p {
    font-size: 12px;
    margin-left: 5%;
  }
}
/*376 to 600 px */
@media only screen and (max-width: 600px) {
  #projects {
    height: 80%;
  }
  .hero-text h1 {
    margin-top: 50%;
    font-size: 20px;
    margin-left: 1%;
  }
  .hero-text p {
    margin-left: 1.5%;
  }
  .item img {
    margin-top: 90px;
  }
  #about {
    height: 135%;
  }
  .about-me .bio {
    margin: 0;
    padding-top: 0;
  }
  .services {
    margin-left: 0;
  }
  .skill {
    padding: 0;
  }
  .transition,
  .transitioncss,
  .transitionjs,
  .transitionbs {
    max-width: 50px;
  }
  .starttransition {
    max-width: 300px;
  }
  .starttransitioncss {
    max-width: 280px;
  }
  .starttransitionjs {
    max-width: 250px;
  }
  .starttransitionbs {
    max-width: 250px;
  }
  #contact {
    height: 110%;
  }
  .address li {
    margin-left: 0;
  }
  .address li a {
    font-size: 12px;
  }
  .links li {
    font-size: 20px;
  }
  .left-contact {
    width: 95%;
    left: 9px;
  }
  .links li {
    font-size: 25px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-text {
    margin-top: 50%;
  }
  .arrow-down {
    margin-right: -3px;
  }
  #projects {
    height: 90%;
  }
  #about {
    height: 145%;
  }
  .bio {
    font-size: 10px;
  }
  .services {
    margin-left: 0;
  }
  .skill {
    padding: 0;
  }
  .transition,
  .transitioncss,
  .transitionjs,
  .transitionbs {
    max-width: 50px;
  }
  .starttransition {
    max-width: 300px;
  }
  .starttransitioncss {
    max-width: 280px;
  }
  .starttransitionjs {
    max-width: 250px;
  }
  .starttransitionbs {
    max-width: 250px;
  }
  #contact {
    height: 127%;
  }
  .left-contact {
    width: 95%;
    left: 9px;
  }
  .links li {
    font-size: 25px;
  }
}
